body{
    background-color: #f2f2f2;
}
.du{
    float: right;
}
input.g{
    background-color:#1492ff;
    width: 160px;
    height: 50px;
    border-radius: 10px;
    border-style: hidden;
    text-decoration: none;
    color: azure;
    font-size: 20px;

}
input.h{
    width: 160px;
    height: 50px;
    border-radius: 10px;
    border-style: hidden;
    text-decoration: none;
    font-size: 20px;
    text-decoration: none;
}
div{
    text-align: center;
}
input.cer{
    width:35%;
    height: 40px;
    font-size: 20px;
}
input.ho{
    width: 20%;
    height: 30px;
    font-size: 20px;
}
select{
    width:35%;
    height: 40px;
    font-size: 20px;

}
h2{
    margin-left: 30px;
}
h1.r{
    margin-left:250px;
}
div.juju{
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    border-style:hidden;
    /* border-color: black; */
    background-color:#f5f9f8;
    padding: 15px;
    width: 80%;
    height:560px;
    padding-bottom: 30px;
    padding-left: 80px;
}
p.l{
    font-size: 33px;
    font-weight:lighter;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}